<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="ConnectionString" value="server=193.134.217.110;database=BCV;uid=sysAdminAccount;pwd=n3bi0l0!"/>
  </appSettings>

</configuration>
